@use '../abstracts/' as *;

.heading{
	text-align: center;
	margin-bottom: 3rem;

	span{
		font-size: 3rem;
		color: $orange;
	}
	h3{
		@include title-text(3.5rem);
		color: $white;
	}
}
.courses{

	.box-container{
		@include grid(30rem);

		.box{
			border: $border;

			&:hover .image img{
				transform: scale(1.3);
			}

			.image{
				height: 25rem;
				overflow: hidden;

				img{
					height: 100%;
					width: 100%;
					object-fit: cover;

				}
			}
			.content{
				padding: 2rem;

				.icons{
					display: flex;
					align-items: center;
					justify-content: space-between;

					span{
						@include title-text(1.7rem);
						color: $white;

						i{
							color: $orange;
							padding-right: .5rem;
						}
					}
				}
				h3{
					@include title-text(2.7rem);
					padding: 1rem 0;
				}
			}
		}
	}
}
