$text-klr: hsl(19, 74%, 78%);
$light:hsl(0, 0%, 97%);
$dark:hsl(0, 1%, 13%);
$lime:hsl(150, 100%, 40%);
$orangeRed:hsl(351, 74%, 83%);
$blue: hsl(228, 66%, 42%);
$kl-1: hsl(23, 77%, 51%);
$kl-2: hsl(22, 67%, 52%);
$kl-3: hsl(15, 48%, 20%);
$kl-4: hsl(29, 28%, 16%);
$kl_nav:hsl(17, 40%, 23%);
$kl-rd: hsl(10, 49%, 53%);
$bg-kl1:hsl(43, 59%, 90%);
// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/*   color variables */

$clr-primary: #f06292;
$clr-primary-hover: hsl(340, 80%, 94%);
$clr-primary-dark: hsl(340, 82%, 59%);
$clr-gray100: hsl(220, 100%, 99%);
$clr-gray150: hsl(223, 47%, 97%);
$clr-gray200: hsl(218, 31%, 95%);
$clr-gray300: hsl(222, 28%, 91%);
$clr-gray400: hsl(229, 11%, 52%);
$clr-gray500: hsl(230, 16%, 37%);
$clr-gray600: hsl(225, 28%, 23%);
$clr-gray700: hsl(226, 41%, 15%);
// art deco
$clr-artdeco1:hsl(28, 22%, 76%);
$clr-artdeco2:hsl(23, 82%, 78%);
$clr-artdeco3:hsl(171, 99%, 33%);
$clr-artdeco4:hsl(17, 72%, 75%);
$clr-artdeco5:hsl(345, 30%, 34%);
$clr-artdeco6:hsl(46, 44%, 48%);
$clr-artdeco7:hsl(306, 26%, 23%);
$clr-artdeco8:hsl(47, 87%, 70%);
$clr-artdeco9:hsl(45, 54%, 82%);
$clr-artdeco10:hsl(49, 47%, 89%);

/*   color variables */

$clr-primary: hsl(226, 99%, 53%);
$clr-primary-hover: hsl(160, 79%, 53%);
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
/* leskleuren */
$crimson: hsl(348, 83%, 47%);
$black: hsl(0, 0%, 5%);
$light-bg:hsl(0, 0%, 10%);
$white:hsl(0, 0%, 100%);

$light-color:hsl(0, 0%, 67%);
$orange:hsl(14, 100%, 56%);
$bg-color:hsl(332, 35%, 8%);

