
$border-rad1:0.3125rem; //5px
$border-rad2:0.625rem; //10px
$border-rad3:1.125rem; //20px
$border-rad4:2.5rem; //40px
$border-rad5:1.875rem; //20px

/*   border radius */

$radius: 0.2rem;
$border:.1rem solid rgba(255,255,255,.2);
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);